
<div *ngIf="contracts.length === 0">
    <img src="/assets/img/gif/no_result.gif" alt="GIF" class="w-fit h-f bg-transparent opacity-15 mx-auto">
    <h1 class="text-2xl font-semibold text-yellow-500 opacity-25 text-center mt-5 animate-bounce">No Contracts Found</h1>
  
  
  </div>


  <div *ngIf="contracts.length > 0" >
<div *ngFor="let contract of contracts; let i = index" class="contract-card shadow-lg rounded-md bg-white my-4">
    <div class="hover:bg-slate-200 contract-header cursor-pointer flex items-center justify-between py-4 px-6" (click)="toggleContract(i)">
        <div class="flex items-center">
            <img src="assets/logosg.png" alt="Company Logo" class="w-10 h-10 company-logo mr-3">
            <h1 class="text-lg font-semibold text-gray-800">Loan Agreement N° {{ contract.id }}
            
                <span class="text-sm text-red-700 font-semibold" *ngIf="!contract.isSigned" > (Not Signed)</span>
                <span class="text-sm text-green-700 font-semibold" *ngIf="contract.isSigned" > (Signed)</span>
            
            </h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon transition-transform duration-300 transform" [class.rotate-up]="isContractOpen(i)" viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M7 10l5 5 5-5z" />
        </svg>
    </div>
    
    <div [@slideInOut]="isContractOpen(i) ? 'in' : 'out'">
        <div id="details-container" class="details-container px-6 py-4" >
            <div class="contract-details">
                <h2 class="text-lg font-semibold text-gray-800 mb-4">Loan Details</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <p class="text-sm text-gray-600">Payment Duration:</p>
                        <p class="text-base text-gray-800">{{ contract.paymentDuration }}</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-600">Loan ID:</p>
                        <p class="text-base text-gray-800">{{ contract.loanId }}</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-600">Client ID:</p>
                        <p class="text-base text-gray-800">{{ contract.clientId }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- a button to sign the contract which will send the id of the contract to the signContract method -->
    <div class="flex justify-end py-4 px-6 border-t border-red-700" *ngIf="!contract.isSigned">
        <button class="btn btn-primary hover:bg-red-700 hover:bg-opacity-50 hover:text-white transition-colors duration-150 p-2 border border-red-700 text-red-700 border-collapse rounded-md"  (click)="signContract(contract.id)">Sign Contract</button>
    </div>

</div>
</div>