<div class="sidenav-header">
  <img
    [src]="image"
    alt="image"
    [width]="profilePicSize()"
    [height]="profilePicSize()"
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>{{ getUserName() | uppercase }}</h2>
    <p>{{ getUserdisplyer() }}</p>
  </div>
</div>
<div class="flex flex-col" style=" overflow-y: auto">
  <mat-nav-list class="flex-1">
    <a
      mat-list-item
      *ngFor="let item of menuItems()"
      [routerLink]="item.route"
      #rla="routerLinkActive"
      routerLinkActive="selected-menu-item"
      class="menu-item"
      [activated]="rla.isActive"
    >
      <mat-icon
        [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
        matListItemIcon
        >{{ item.icon }}</mat-icon
      >
      <span *ngIf="!sideNavCollapsed()" matListItemTitle>
        {{ item.label }}
      </span>
    </a>
    <div>
      <a
        mat-list-item
        *ngFor="let item of MenuWithSubItems()"
        [routerLink]="item.route"
        #rla="routerLinkActive"
        routerLinkActive="selected-menu-item"
        class="menu-item"
        [activated]="rla.isActive"
      >
        <mat-icon
          [fontSet]="
            rla.isActive ? 'material-icons' : 'material-icons-outlined'
          "
          matListItemIcon
        >
          {{ item.icon }}
        </mat-icon>
        <span
          *ngIf="!sideNavCollapsed()"
          class="menu-item-label"
          matListItemTitle
        >
          {{ item.label }}
          <mat-icon
            class="dropdown-icon hover:bg-red-700 hover:bg-opacity-50 hover:rounded-full ml-7"
            (click)="toggleDropdown()"
          >
            arrow_drop_down
          </mat-icon>
        </span>
      </a>
      <div *ngIf="isMyAccountRoute() && isDropdownOpen" class="dropdown-menu">
        <a
          mat-list-item
          #rla="routerLinkActive"
          routerLinkActive="selected-menu-item"
          class="menu-item"
          [activated]="rla.isActive"
          mat-list-item
          *ngFor="let subItem of subItems()"
          [routerLink]="subItem.route"
          class="sub-menu-item ml-8"
        >
          <mat-icon matListItemIcon>{{ subItem.icon }}</mat-icon>
          <span *ngIf="!sideNavCollapsed()" matListItemTitle>
            {{ subItem.label }}
          </span>
        </a>
      </div>
    </div>
  </mat-nav-list>
  <!-- Logout should be at the bottom of the screen -->
  <div class="mt-auto">
    <mat-divider></mat-divider>
    <a
      (click)="logout()"
      class="hover:bg-opacity-50 hover:bg-red-600 dark:hover:bg-gray-700 group w-full"
      mat-list-item
      *ngFor="let item of logoutItem()"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span *ngIf="!sideNavCollapsed()" matListItemTitle>{{ item.label }}</span>
    </a>
  </div>
</div>
