
<app-cards></app-cards>


  <div class="my-5"></div>

  <!--<section class="grid grid-cols-1 my-4 xl:grid-cols-2 gap-5">
    <div class="card p-8">
      <div class="card-title flex justify-between items-center mb-4">
        <h3 class="text-xl font-bold leading-none">Area Wise Sale</h3>
      </div>
      <div class="grid grid-cols-1 xl:grid-cols-3 gap-5">
        <div class="">
          <canvas id="areaWiseSale"></canvas>
        </div>
        <div class="xl:grid-cols-2">
          Chart Data
        </div>
      </div>
    </div>
    <div class="card p-8 bg-emerald-600 text-gray-50">
      <h3 class="text-2xl">
        Ticket Sold Today
      </h3>
      <h2 class="my-5">
        <span class="text-4xl font-bold">
          278
        </span> piece
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque molestiae incidunt officiis veritatis,
        architecto nam soluta, exercitationem minima laudantium harum qui.
      </p>
      <div class="my-5"></div>
      <a href="" class="">
        View Details
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </section>-->

  <div class="my-5"></div>
  <section class="grid grid-cols-1 my-4 xl:grid-cols-2 2xl:grid-cols-3 gap-5">
   <app-userstable></app-userstable>
    <div class="2xl:col-span-2">
      <app-contracts-v></app-contracts-v>
    </div>
  </section>
