
<style>

/*vibrates the container with id body*/

#body.vibratered {
    animation: vibrate 0.1s linear ;
    border: 3px solid red;
}

#body.vibrategreen {
    animation: vibrate 0.1s linear ;
    border: 3px solid green;
}



/* Define the animation keyframes */
@keyframes vibrate {
    from {
        transform: translateX(-2px);
    }
    to {
        transform: translateX(2px);
    }
}
</style>

<div id="body"  [ngClass]="{'vibrategreen': verificationResult === true, 'vibratered': verificationResult === false}" >

    <div class="flex justify-center" >


            <div class="mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow">
                <header class="mb-8">
                    <h1 class="text-2xl font-bold mb-1">Contract Signature Validation</h1>
                    <p class="text-[15px] text-slate-500">Enter the 5-digit verification code that was sent to your mail account.</p>
                </header>
                <form id="otp-form" (ngSubmit)="onSubmit()">
                    <div class="flex items-center justify-center gap-3">

    
    
    
                                <input #input1 type="text" [(ngModel)]="secret1" name="digit1" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input1, input2)" (keyup.backspace)="allowInputAfterDeletion(input1)" />
                                <input #input2 type="text" [(ngModel)]="secret2" name="digit2" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input2, input3)" (keyup.backspace)="focusPreviousInput(input2, input1)" />
                                <input #input3 type="text" [(ngModel)]="secret3" name="digit3" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input3, input4)" (keyup.backspace)="focusPreviousInput(input3, input2)" />
                                <input #input4 type="text" [(ngModel)]="secret4" name="digit4" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input4, input5)" (keyup.backspace)="focusPreviousInput(input4, input3)" />
                                <input #input5 type="text" [(ngModel)]="secret5" name="digit5" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input5, input6)" (keyup.backspace)="focusPreviousInput(input5, input4)" />
                                <input #input6 type="text" [(ngModel)]="secret6" name="digit6" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" (input)="focusNextInput(input6, null)" (keyup.backspace)="focusPreviousInput(input6, input5)" />
    
    
                            </div>
                            <div class="max-w-[260px] mx-auto mt-4">
                                <button type="submit" class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-white border-2 text-red-700 border-red-600 px-3.5 py-2.5 text-sm font-medium hover:bg-red-600 hover:text-white transition-colors duration-150">Verify Signature</button>
                            </div>
                        </form>
            
            
                        <div *ngIf="timerValue === 0">
                            <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a (click)="resendCode()" class="font-medium text-red-600 hover:text-red-500">Resend</a></div>
                        </div>
                        <div *ngIf="timerValue > 0" class="flex items-center justify-center gap-2 mt-4">
                            <div class="text-sm text-slate-500">Resend In : </div>
                            <div class="font-medium text-red-600 hover:text-red-500">{{ timerMinutes }}:{{ timerSeconds }}</div>
                        </div>
            
            
            
                    </div>
            
                </div>
</div>
      
