<div class="relative font-inter antialiased">

            <div class="flex justify-center">

                <div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow">
                    <header class="mb-8">
                        <h1 class="text-2xl font-bold mb-1">Contract Signature Validation</h1>
                        <p class="text-[15px] text-slate-500">Enter the 5-digit verification code that was sent to your mail account.</p>
                    </header>
                    <form id="otp-form" (ngSubmit)="onSubmit()">
                        <div class="flex items-center justify-center gap-3">
                          <input type="text" [(ngModel)]="secret1" name="digit1" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />
                          <input type="text" [(ngModel)]="secret2" name="digit2" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />
                          <input type="text" [(ngModel)]="secret3" name="digit3" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />
                          <input type="text" [(ngModel)]="secret4" name="digit4" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />
                          <input type="text" [(ngModel)]="secret5" name="digit5" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />
                          <input type="text" [(ngModel)]="secret6" name="digit6" class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100" maxlength="1" />

                        </div>
                        <div class="max-w-[260px] mx-auto mt-4">
                            <button type="submit" class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-white border-2 text-red-700 border-red-600 px-3.5 py-2.5 text-sm font-medium hover:bg-red-600 hover:text-white transition-colors duration-150">Verify Signature</button>
                          </div>
                        </form>
                    <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a class="font-medium text-red-600 hover:text-red-500" href="#0">Resend</a></div>
                </div>

            </div>

</div>
