<section class="dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="assets/logosg.png" alt="logo">
        <span class="text-2xl font-semibold text-primary-500"> Please Verify your Form Data befour <span class="text-2xl font-semibold text-red-700">Submitting</span></span>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 mb-20">

    <form *ngIf="formData" [formGroup]="formData" class="p-6 space-y-4 md:space-y-6 sm:p-8 shadow-lg bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div>
        <label for="loanAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Loan Amount</label>
        <input type="number" id="loanAmount" formControlName="loanAmount" [value]="formData.get('loanAmount')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div>
        <label for="loanType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Loan Type</label>
        <select id="loanType" formControlName="loanType" [value]="formData.get('loanType')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="PERSONAL">Personal</option>
          <option value="HOME">Home</option>
          <option value="AUTO">Auto</option>
          <option value="EDUCATIONAL">Educational</option>
        </select>
      </div>
      <div>
        <label for="paymentDuration" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Duration</label>
        <select id="paymentDuration" formControlName="paymentDuration" [value]="formData.get('paymentDuration')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="MONTHLY">Monthly</option>
          <option value="QUARTERLY">Quarterly</option>
          <option value="YEARLY">Yearly</option>
        </select>
      </div>
      <!-- Signature Section -->

       

      <div>
        <label for="signature" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Signature (PNG)</label>
        <input type="file" formControlName="signature" id="signature" accept="image/png" [value]="formData.get('signature')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <!-- ID Card Section -->
      
      <div>
        <label for="idCardFront" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Card Front (PNG)</label>
        <input type="file" formControlName="idCardFront" id="idCardFront" accept="image/png" [value]="formData.get('idCardFront')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div>
        <label for="idCardBack" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Card Back (PNG)</label>
        <input type="file" formControlName="idCardBack" id="idCardBack" accept="image/png" [value]="formData.get('idCardBack')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      




      <!-- Additional Info Section -->
      <div>
        <label for="cinNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CIN Number</label>
        <input type="text" formControlName="cinNumber" id="cinNumber" [value]="formData.get('cinNumber')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div>
        <label for="taxId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">tax Id</label>
        <input type="text" formControlName="taxId" id="taxId" [value]="formData.get('taxId')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div>
        <label for="receptionMethod" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reception Method</label>
        <select formControlName="receptionMethod" id="receptionMethod" [value]="formData.get('receptionMethod')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
          <option value="ONLINE">Online</option>
          <option value="ON_AGENCY">On Agency</option>
        </select>
      </div>
      <!-- RIB Section-->
      <div *ngIf="formData.get('receptionMethod')?.value ==='ONLINE' ">
        <label for="rib" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RIB (Relevé d'Identité Bancaire)</label>
        <input type="text" formControlName="rib" id="rib" [value]="formData.get('rib')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="RIB" required>
      </div>
      <div *ngIf="formData.get('receptionMethod')?.value ==='ON_AGENCY' ">
        <label  for="agency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Agency</label>
        <select formControlName="agency" id="agency" [value]="formData.get('agency')?.value" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
          <option value="Agency 1">Agency 1</option>
          <option value="Agency 2">Agency 2</option>
          <option value="Agency 3">Agency 3</option>
          <!-- Add more agencies as needed -->
        </select>
      </div>
      <!-- Submit Button -->
      <button type="submit" class="w-full border-2 border-red-600 hover:border-gray-50 text-red-700 bg-primary-600 hover:text-red-100 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-700">Submit</button>

    </form>
    </div>
    </section>