<div *ngIf="!isLoggedIn()">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <app-footer class="mt-20"></app-footer>
</div>

<div *ngIf="isLoggedIn()">

  
<div *ngIf="!isAdmin">

  <mat-toolbar class=" mat-elevation-z3">
    <app-cercularnav></app-cercularnav>

    <button id="al" aria-label="Name" class="mat-icon-button" mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-side [collapsed]="collapsed()" />
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]='sidenavWidth()'>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="isAdmin" >
  
    <mat-toolbar class=" mat-elevation-z3">
      <app-cercularnav></app-cercularnav>

      <button class="mat-icon-button" mat-icon-button (click)="collapsed.set(!collapsed())">
          <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
          <app-custom-side [collapsed]="collapsed()" />
      </mat-sidenav>
      <mat-sidenav-content class="content" [style.margin-left]='sidenavWidth()'>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>


</div>

