<div class="snowflakes">
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
  <div class="snowflake">
    <img src="/assets/logosg.png" width="10" />
  </div>
</div>
