<div class="card p-8 2xl:col-span-2">
  <div class="card-title flex justify-between items-center mb-4">
    <h3 class="text-xl font-bold leading-none text-black">Upcoming Events</h3>
  </div>
  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p
                class="mb-0 font-sans font-semibold leading-normal uppercase text-sm"
              >
                Users
              </p>
              <h5 class="mb-2 font-bold dark:text-white">{{ UsersCount() }}</h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <img
              src="/assets/img/dashboard/user.png"
              alt="avatar image"
              class="inline-flex items-center justify-center w-12 h-12 mr-2 text-white transition-all duration-200 ease-in-out text-sm rounded-xl"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p
                class="mb-0 font-sans font-semibold leading-normal uppercase text-sm"
              >
                Contracts
              </p>
              <h5 class="mb-2 font-bold dark:text-white">
                {{ ContractsCount() }}
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <img
              src="/assets/img/dashboard/contract.png"
              alt="avatar image"
              class="inline-flex items-center justify-center w-12 h-12 mr-2 text-white transition-all duration-200 ease-in-out text-sm"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p
                class="mb-0 font-sans font-semibold leading-normal uppercase text-sm"
              >
                Accounts
              </p>
              <h5 class="mb-2 font-bold dark:text-white">
                {{ AccountsCount() }}
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <img
              src="/assets/img/dashboard/account.png"
              alt="avatar image"
              class="inline-flex items-center justify-center w-12 h-12 mr-2 text-white transition-all duration-200 ease-in-out text-sm rounded-xl"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p
                class="mb-0 font-sans font-semibold leading-normal uppercase text-sm"
              >
                Loans
              </p>
              <h5 class="mb-2 font-bold dark:text-white">{{ LoansCount() }}</h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <img
              src="/assets/img/dashboard/loan.png"
              alt="avatar image"
              class="inline-flex items-center justify-center w-12 h-12 mr-2 text-white transition-all duration-200 ease-in-out text-sm rounded-xl"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
