<div id="nav" class="wrapcircles closed">
  <div class="circle c-1 cursor-pointer" (click)="toggleAbout()">
    <span>
      <a class="nav-element"> <mat-icon>group</mat-icon></a>
    </span>
  </div>
  <div class="circle c-2 cursor-pointer" (click)="togglePolicy()">
    <span>
      <a class="nav-element"> <mat-icon>policy</mat-icon></a>
    </span>
  </div>
  <div class="circle c-3 cursor-pointer" (click)="toggleContact()">
    <span>
      <a class="nav-element"> <mat-icon> perm_phone_msg </mat-icon></a>
    </span>
  </div>
  <div id="click" class="circle c-5" (click)="toggleNav()">
    <span><a class="link"></a></span>
  </div>
</div>
