.eye-icon{

    top: -17px !important;
    right: 0px !important;
    position: relative;
    cursor: pointer;
    color: #000;


}

.maincard{
    border: 1px solid ;
}























.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card {
    width: 300px;
    height: 188px;
    border-radius: 16px;
    perspective: 1000px;
    transition: transform 0.5s ease-in;
    z-index: 5;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  }
  
  .see-back-button {
    position: relative;
    width: 33px; /* Adjust as needed */
    height: 33px; /* Adjust as needed */
    top:80px; /* Adjust as needed */
    position: relative;
    background: rgba(173, 0, 0, 0.884);;
    border-radius: 50%;
    box-shadow: 0 8px 30px rgba(173, 0, 0, 0.884);
    cursor: pointer;
    z-index: 10;
    color: #a10101;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .see-back-button:hover {
    background: #6d0000;
    color:#a10101;

  }

    .see-back-button img{
        width: 20px;
        height: 20px;

    }
  
  
  
  
  .card .card-bg {
    z-index: 2;
    backdrop-filter: blur(20px);
    background: linear-gradient(135deg, #ffd000 0%, #a545b1 100%);
    border-radius: 16px;
    filter: brightness(0.50);
    transition: filter 0.5s ease;
    overflow: hidden;
  }
  
  .card-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease; /* Add transition for opacity */
  }
  
  .card-bg.fade-out img {
    /* smoothly fade out the image */
    opacity: 0;
    animation: anim-out 0.5s ease-out forwards; /* Use animation for smoother transition */
  }
  
  .card-bg.fade-in img {
    /* smoothly fade in the image */
    opacity: 1;
    animation: anim-in 0.5s ease-in forwards; /* Use animation for smoother transition */
  }
  
  /* Define keyframes for fade-out animation */
  @keyframes anim-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Define keyframes for fade-in animation */
  @keyframes anim-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  
  
  
  
  
  .card .front, .card .back, .card .card-bg, .card .card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  
  
  
  
  
  
  .card .card-content {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #b0b0b0;
    font-family: 'Droid Serif', serif;
    z-index: 4;
  }
  
  
  .card .card-content span {
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    color: goldenrod;
    /* make the color shine */
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    padding-left: 2px;
    white-space: nowrap;
  }
  
  
  .chip {
    position: relative;
    top: 55px;
    left: 20px;
    width: 50px;
    height: 35px;
    background-image: url(/assets/chip.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    z-index: 3;
    filter: brightness(0.8); /* Adjusted brightness for better contrast */
  }
  
  
  
  
  
  .card .card-content span + span {
    color: #a545b1;
    height: 7px;
    overflow: hidden;
  }
  .card .card-content strong {
    font-weight: normal;
  }
  .card .card-content em {
    text-transform: uppercase;
    position: absolute;
    font-style: normal;
    font-size: 9px !important;
    text-shadow: none;
    font-family: Open sans, sans-serif;
    color: rgba(255, 255, 255, .6);
  }
  .card .card-content .glow {
    animation: glow 0.5s;
  }
  .card .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .card .credit-card-type {
    position: absolute;
    right: 20px;
    top: 20px;
  /*  background-color: rgba(255, 255, 255, .4);*/
    width: 80px;
    height: 40px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(/assets/visa.png);
  }
  
  
  
  .card .credit-card-brand {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 30px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(/assets/logo-sg.png);
    /* background size */
    
  }
  
  
  .card .card-number {
    position: absolute;
    width: 240px;
    top: 100px;
    left: 30px;
    font-size: 21px;
    height: 21px;
    font-family: courier;
    text-align: justify;
  }
  .card .card-holder {
    text-transform: uppercase;
    position: absolute;
    width: 240px;
    top: 160px;
    left: 20px;
    font-size: 14px;
    font-weight: 100;
    height: 30px;
  }
  .card .card-holder em {
    top: -16px;
  }
  .card .card-holder span {
    letter-spacing: 1px;
  }
  .card .card-holder span + span {
    height: 4px;
  }
  .card .validuntil {
    font-family: courier;
    position: absolute;
    top: 128px;
    left: 150px;
    font-size: 16px;
    height: 16px;
    width: 120px;
    white-space: nowrap;
    font-family: courier;
  }
  .card .validuntil em {
    top: 3px;
    left: -36px;
  }
  .card .validuntil .e-month, .card .validuntil .e-divider, .card .validuntil .e-year {
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    margin: 0 1px;
  }
  .card .validuntil .e-month span, .card .validuntil .e-divider span, .card .validuntil .e-year span {
    position: relative;
  }
  .card .validuntil .e-month span + span, .card .validuntil .e-divider span + span, .card .validuntil .e-year span + span {
    position: absolute;
    height: 5px;
  }
  .expire-date {
    padding-top: 0;
    position: absolute;
    top: 130px;
    
  }
  .expire-date input {
    width: 50px;
  }
  .expire-date div {
    float: left;
  }
  .expire-date .divider {
    padding: 0 5px;
    line-height: 32px;
    color: #ccc;
    user-select: none;
  }
  @keyframes glow {
    0% {
      text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.5);
   }
    70% {
      color: rgba(255, 255, 255, .4);
      text-shadow: -1px 1px 8px #ffc, 1px -1px 8px rgba(255, 255, 255, .6);
   }
    100% {
      text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.5);
   }
  }
  @keyframes anim-out {
    0% {
      width: 0%;
      height: 0px;
   }
    100% {
      width: 200%;
      height: 300px;
   }
  }
  


  /*      


        <div class="back" *ngIf="back">
                              <div class="strip-black "></div>
                              <div class="ccv">
                                  <div class="ccv-number">123</div>
                              </div>
                              <div class="terms">
                                  <p>Terms and conditions</p>
                              </div>

                                  <div class="bottom-section">
                                <div class="right-section">
                                  <p> Société Générale Marocaine De banque 55 BD Abdelmoumen Casablanca  </p>

                                </div>

                                <div class="left-section">
                                  <div class="logo">
                                    <img src="/assets/logo-sg.png" alt="Logo" class="w-10 h-10 company-logo mr-3">
                                  </div>
                                </div>
                              </div>

                          </div>
                                
add style to the back of the card , the stripblack should be taling the full width of the card and it should take some height and bellow it the 
ccv number should be displayed with a gray background decorated by white dotes all oover it then the terms and conditions should be displayed at the bottom of the card
with a transparent background and a black text 

*/






.back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
    background: linear-gradient(135deg, #5a00a8 50%, #cacaca 100%);
}

.strip-black{
    position: absolute;
    width: 100%;
    height: 40px;
    background: #000;
    margin-bottom: 20px;
}

.ccv{
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b0b0b0;
    background-image: radial-gradient(
        circle at center,
        rgb(255, 255, 255) 0.10rem,
        transparent 0
      );
      background-size: 0.5rem 0.5rem;
      background-repeat: round;    
      height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    width: 220px;
    position: relative;
}







.terms{
    width: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffffff;
    position: absolute;
 margin-top: 90px;
 padding: 4px;
    font-size: 7px;
}

.bottom-section{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;

    
    bottom: 0;
    overflow: hidden;

    /* add top border */
    border-top: 1px solid #fff;
}

.right-section{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
   
}

.left-section{
    width: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;

    color: #ffffff;
    position: relative;
    font-size: 6px;

    border-left: 1px solid #fff;
   
    margin-right: 20px;
    padding: 4px;

    
}

