<!-- loan-details-dialog.component.html -->
<div
  class="fixed inset-0 flex items-center justify-center z-50"
  [style.view-transition-name]="'video-'"
>
  <!-- Darken background -->
  <div class="fixed inset-0 bg-black opacity-50"></div>
  <div
    class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 w-full sm:max-w-md relative z-10"
  >
    <button
      class="absolute top-2 right-2 text-red-700 text-xl font-bold"
      (click)="onCloseClick()"
    >
      X
    </button>
    <h1 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">
      Loan Details
    </h1>
    <div class="space-y-4">
      <!-- Display loan details here -->
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Loan Creation Date :
        <span class="text-red-700">{{
          data.loan.loanCreationDate | date: "dd/MM/yyyy"
        }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Status : <span class="text-red-700">{{ data.loan.get_status() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Amount : <span class="text-red-700">{{ data.loan.get_amount() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        payment Duration :
        <span class="text-red-700">{{ data.loan.get_paymentDuration() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Status : <span class="text-red-700">{{ data.loan.get_status() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        CIN Number :
        <span class="text-red-700">{{ data.loan.get_cinNumber() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Loan Type : <span class="text-red-700">{{ data.loan.get_type() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Tax ID : <span class="text-red-700">{{ data.loan.get_taxId() }}</span>
      </p>
      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        Reception Method :
        <span class="text-red-700">{{ data.loan.get_receptionMethod() }}</span>
      </p>
      <p
        *ngIf="data.loan.get_receptionMethod() == 'ONLINE'"
        class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
      >
        RIB:
        <span class="text-red-700">{{
          data.loan.get_bankAccountCredentials_RIB()
        }}</span>
      </p>
      <p
        *ngIf="data.loan.get_receptionMethod() == 'ON_AGENCY'"
        class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
      >
        Bank Name:
        <span class="text-red-700">{{ data.loan.get_selectedAgency() }}</span>
      </p>
      <!-- Main FAB Button -->
      <button
        type="button"
        (click)="toggleSpeedDial()"
        aria-expanded="false"
        class="absolute bottom-2 right-0 mb-2 mr-2 bg-red-700 rounded-lg w-14 h-14 hover:bg-red-800 dark:bg-red-600 dark:hover:bg-red-700 content-center flex items-center justify-center"
        aria-label="Open actions menu"
      >
        <svg
          class="w-5 h-5 transition-transform text-white"
          [class.rotate-45]="openFabIndex !== null"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 18 18"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 1v16M1 9h16"
          />
        </svg>
        <span class="sr-only">Open actions menu</span>
      </button>
      <!-- Speed Dial menu -->
      <div
        class="speed-dial-menu"
        [ngClass]="{ show: openFabIndex !== null }"
        data-dial-init
        class="absolute bottom-16 right-0 mb-2 mr-2 group"
        *ngIf="openFabIndex !== null"
      >
        <div
          id="speed-dial-menu-square"
          class="flex flex-col items-end space-y-2"
        >
          <button
            tooltip="Signature"
            flow="left"
            type="button"
            data-tooltip-target="tooltip-signature"
            data-tooltip-placement="left"
            class="w-14 h-14 text-gray-500 hover:text-gray-900 bg-white rounded-lg border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400 flex justify-center items-center relative"
            (click)="openDialog(data.loan.signature!)"
          >
            <mat-icon
              class="text-red-700 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              fingerprint
            </mat-icon>
            <span class="sr-only">Signature</span>
          </button>
          <!-- Add similar buttons for CID card front and back here -->
          <button
            tooltip="CIN Card Front"
            flow="left"
            type="button"
            data-tooltip-target="tooltip-cinCartFont"
            data-tooltip-placement="left"
            class="w-14 h-14 text-gray-500 hover:text-gray-900 bg-white rounded-lg border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400 flex justify-center items-center relative"
            (click)="openDialog(data.loan.cinCartFont!)"
          >
            <mat-icon
              class="text-red-700 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              badge
            </mat-icon>
            <span class="sr-only">CIN Card Front</span>
          </button>
          <button
            tooltip="CIN Card Back"
            flow="left"
            type="button"
            data-tooltip-target="tooltip-cinCartBack"
            data-tooltip-placement="left"
            class="w-14 h-14 text-gray-500 hover:text-gray-900 bg-white rounded-lg border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400 flex justify-center items-center relative"
            (click)="openDialog(data.loan.cinCartBack!)"
          >
            <mat-icon
              class="text-red-700 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              medical_information
            </mat-icon>
            <span class="sr-only">CIN Card Back</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
